* {
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: hsl(127, 19%, 83%);
}

root{
    --sub-black: #4b4b4b;
    --main-black: #3d3d3d;
}

header{
    background-color: hsl(143, 100%, 90%);
}

footer{
    text-align: center;
    opacity: 0.7;
    margin-top: 60px;
    margin-bottom: 20px;
}



/* Header */
#subtitle, #title{
    text-align: center;
}

#title{
    padding-top: 30px;
    color: var(--main-black);
    font-weight: 900;
}
#subtitle{
    margin-bottom: 15px;
    color: var(--sub-black);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 1.3rem;
    opacity: 0.7;
}

#navigation{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: hsl(143, 40%, 30%);
    color: #fff;
    margin-top: 20px;
    
}

#navigation li{
    padding: 10px;
    color: var(--sub-black);
}

#navigation li:hover{
    color: hsl(143, 100%, 90%);
    transition: 0.2s;
}

#navigation a{
    text-decoration: none;
    color: var(--main-black);
    transition: 0.3s;
}
/* Body */

#info{
    display: flex;
    justify-content: center;
}

#img-div{
    margin-top: 80px;
    background-color: azure;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#image{
    max-width: 100%;
    height: auto;
    display: block;
    filter: grayscale(80%);
}

#img-caption{
    text-align: center;
    font-style: italic;
    margin-top: 8px;
    color: hsl(143, 40%, 30%);
}


#tribute-info{
    display: flex;
    justify-content: center;
    color: hsl(143, 20%, 30%);
}



.about-section{
    width: 60%;
    margin-top: 120px;
}



.about-section h2{
    font-size: 25px;
   
}
/* .about-section p:nth-child(1){
    margin:80px 0px;
} */

.about{
    margin-top: 40px;
}

.personal-info{
    display: flex;
    margin-top: 40px;
}

.personal-info h2{
    font-size: 22px;
    margin-top: 20px;
}

.personal-info h3{
    margin-top: 10px;
    font-size: 14px;
    text-decoration: underline;
}


.born-text{
    width: 90%;
}

.personal{
    margin-top: 120px;
    margin-bottom: 120px;
}

#awards h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
    color: hsl(143, 20%, 30%);
}
.awards-list{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.awards-list li::marker{
    font-size: 1.2rem;
    color:hsl(143, 40%, 60%);
    margin-top: 10px;
}


.awards-list li{
    font-size: 1.1rem;
    padding: 6px;
    color:hsl(143, 20%, 30%);
}

.awards-list ul{
    width: 60%;
}

#awards{
    margin-bottom: 120px;
}


.book{
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
}

.book-img img{
    width: 150px;
    justify-self: center;
    margin-left: 23px;
    filter: grayscale(80%);
}

.book-img figcaption{
    font-size: 11px;
    margin-top: 10px;
    text-align: center;
}

#books-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 120px;
}

.book{
    width: 200px;
    height: 270px;
    padding: 15px;
}

.book-title{
    text-align: center;
    color:hsl(143, 20%, 30%);
}

#quote{
    text-align: center;
    background-color: #fff;
    width: 80%;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.quote-text{
    font-size: 1.2rem;
    font-style: oblique;
    opacity: 0.9;
    margin-top: 20px;
}

.quote-by{
    opacity: 0.8;
    margin-top: 7px;
    margin-bottom: 10px;
}

#quote h2{
    opacity: 0.7;
}

#avatar{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

@media (max-width: 500px) {
    .about-section{
        width: 90%;
    }

    .about-section h2{
        text-align: center;
    }
    .about{
        text-align: justify;
    }
    .awards-list ul {
        width: 80%;
    }
    .book:nth-child(3){
        margin-top: 8px;
    }
}